header {
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(190, 46, 46);
    color: white;
    text-align: center;
}

.box1 {
    max-height: 200px;
    background-color: black;
    color: rgb(255, 255, 255);
}

.box2{
    height: 200px;
    background-color: rgb(10, 10, 82);
    color: white;
}

.box3{
    height: 150px;
    background-color: rgb(121, 35, 121);
    color: white;

}

.box4{
    height: 200px;
    background-color: green;
    color: white;

}

.box5{
    background-color: rgb(5, 121, 121);
    color: white;
}

h3 {
    font-size: 23px;
    text-decoration: underline;
    margin: 30px;
}
ul {
    font-size: 17px;

}
img {
    max-width: 150px;
    position: relative;
    left: 1090px;
    top: -190px;
}